body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.item {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    margin: 8px auto;
    width: 1008px;
}

.item .name {
    display: inline-block;
    padding: 8px;
    min-width: 192px;
    text-align: right;
}

.item .time {
    padding: 8px 0;
    color: white;
    background: #607d8b;
    position: relative;
}
.item .time span {
    position: absolute;
    left: 16px;
    top: 8px;
    display: inline-block; }

.item .time.small span {
    color: rgba(0,0,0,0.8); }

.item.YouTube .time {
    background: #f44336;
}